body {
  /**/
  margin-top: 2%;
}

.img-hover {
    width:360px;
    height:360px;
    object-fit: cover;
    overflow: hidden;
}

/*.....*/
.navbar-inverse .navbar-nav li a {
  color: white;
}
.navbar .navbar-right li:first-child{
  background: #008804;
}

.navbar .navbar-right li:nth-child(2){
    background: rgb(72, 142, 46);
}

.navbar .navbar-right li:nth-child(3){
  background: rgb(112, 211, 62);
}

.navbar .navbar-right li:nth-child(4){
    background: rgb(96, 200, 92);

}

.navbar .navbar-right li:nth-child(5){
  background: #008804;

}


.navbar .navbar-right li {
  top: 20%;
  vertical-align: middle;

}

#header-cont {
  background: rgba(0,0,0,0.65);
    border: none !important;
  border-color: transparent !important;
}

.panel-body p {
    text-align: justify;
}

.panel .panel-heading {
  color: white;
  background-color: #7f1673;
}

.about a {
  /*background-color: #933a85;*/
}

.panel-body .btn-default {
    vertical-align: bottom;
}

.btn-default {
  background: #93708e;
  color: white;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default.active {
  background: #933977;
  color: white;
}

.btn-default:active:focus {
  background: #641e51;
    color: white;

}


#myCarousel {
  margin-top: 1.5%;
  height:70%;
  padding: 0;
  /*height: 100%;*/
  /*margin: 0 auto;*/
  /*margin-right: auto;*/
  }

#ripka_logo {
  margin-top: 2.5%;
    margin-left: -4.5%;
  width: 35%;
}

 .navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-right {
  /*padding: 0 15px;*/
  height: 80px;
  line-height: 80px;
}

.col-md-4 .img-portfolio .img-responsive .img-hover {
  width: 360px;
}

.img-portfolio a {
    color: #006203;
}

.pagination li a {
    color: #931985;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #935987;
}


/*footer styling*/

.nav > li > a{
        color: #006203;
}

#social-icons {
        margin-top: 4.5%;

}
#social-icons a {
      color: #006203;
}
/*end footer styling*/

/*start login styling*/

.form-signin p {
    /*margin: 0;*/
    padding-left: 13.3%;
    padding-right: 13.3%;

}

#login {
    margin-left: 13.3%;
    margin-right: 13.3%;


}

#content-log {
}
/*end login styling*/

/*end main colorful style*/