{% extends 'base.html' %}
{% load static %}

{% block css %}
        <link href="{%  static 'css/user_style.css' %}" rel="stylesheet">
{% endblock %}

{#..#}
{% block content %}
<div class="container about-us-header">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <center><h3>ПРО НАС</h3></center></h1>
                         <div class="col-md-12">
                          <p class="about-us">Кожен із нас - це одна семимільярдна частинка населення планети. Одна
                              семимільярдна - це число, що рідко змінює статистику.
                              Та доклавши спільних зусиль, об'єднавшись із іншими людьми, ми можемо змінювати світ навколо нас на краще.
                              Казка про ріпку - це історія про взаємодопомогу та силу згуртованості. Намагання досягнути
                          саме цих чинників надихнуло нас на створення платформи для волонтерів.

                          </p>
                        </div>

            </div>
            <!-- <div class="col-lg-9"> -->
        </div>

         <div class="row">
           <div class="col-lg-12">
           </div>
         </div>


</div>
{% endblock %}