{% extends 'base-registered.html' %}

{% block content %}
<div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <center>ПРО НАС</center></h1>
                         <div class="col-md-12">
                          <center><p class="about-us">Волонтерську діяльність в Україні було офіційно визнано[6] постановою Кабінету Міністрів України від 10 грудня 2003 року «Про затвердження Положення про волонтерську діяльність у сфері надання соціальних послуг»[8]. 2011 року Верховна Рада ухвалила закон «Про волонтерську діяльність»[5], і ця постанова втратила чинність[6].</p>

<p class="about-us">Волонтерську діяльність в Україні було офіційно визнано[6] постановою Кабінету Міністрів України від 10 грудня 2003 року «Про затвердження Положення про волонтерську діяльність у сфері надання соціальних послуг»[8]. 2011 року Верховна Рада ухвалила закон «Про волонтерську діяльність»[5], і ця постанова втратила чинність[6].</p>

<p class="about-us">Волонтерську діяльність в Україні було офіційно визнано[6] постановою Кабінету Міністрів України від 10 грудня 2003 року «Про затвердження Положення про волонтерську діяльність у сфері надання соціальних послуг»[8]. 2011 року Верховна Рада ухвалила закон «Про волонтерську діяльність»[5], і ця постанова втратила чинність[6].</p>

<p class="about-us">Волонтерську діяльність в Україні було офіційно визнано[6] постановою Кабінету Міністрів України від 10 грудня 2003 року «Про затвердження Положення про волонтерську діяльність у сфері надання соціальних послуг»[8]. 2011 року Верховна Рада ухвалила закон «Про волонтерську діяльність»[5], і ця постанова втратила чинність[6].</p></center>
                        </div>

            </div>
            <!-- <div class="col-lg-9"> -->
        </div>

         <div class="row">
           <div class="col-lg-12">
           </div>
         </div>


</div>
{% endblock %}