{% extends 'base-registered.html' %}
{% load static %}


{% block content %}
<div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <center>НАША КОМАНДА</center>
                </h1>
            </div>
            <!-- <div class="col-lg-9"> -->
        </div>

         <div class="row">
           <div class="col-lg-12">
            <div class="col-md-3">
               <img class="command" src="static/oksana.jpg">
               <h3 class="pho_name"><a href="https://www.facebook.com/oleniuk.oksana?fref=ts">Оксана Оленюк</a></h3>
             </div>

             <div class="col-md-3">
               <img class="command" src="static/anton.jpg">
                <h3 class="pho_name"><a href="https://www.facebook.com/anton.tarasov.9?fref=ts">Антон Тарасов</a></h3>

             </div>
              <div class="col-md-3">
                <img class="command" src="https://pp.userapi.com/c836620/v836620219/467cd/I2MkG6diLGg.jpg">
                <h3 class="pho_name"><a href="https://www.facebook.com/yaryna.korduba">Ярина Кордуба</a></h3>
             </div>

             <div class="col-md-3">
               <img class="command" src="static/orest.jpg">
                <h3 class="pho_name"><a href="https://www.facebook.com/profile.php?id=100009991816606&fref=ts">Орест Регусевич</a></h3>
             </div>



           </div>
         </div>
</div>
{% endblock %}

