{% extends 'base.html' %}
{% load static %}

<head> <!---->
    {% block css %}
    <link href="{%  static 'css/user_style.css' %}" rel="stylesheet">
	{% endblock %}
    {% block js %}
    <script scr="{%  static 'js/user.js' %}"></script>
    {% endblock %}
</head>

{% block content %}
<div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row" id="heading">
            <div class="col-lg-12">
                <h1 class="page-header">{{user.username}}</h1>
            </div>
  <div class="col-lg-12">
  <ol class="breadcrumb">
  <li>Ми допомагаємо дітям-сиротам із виконанням домашніх завдань!
  </li>
  </ol>
  </div>

        </div>


        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row user_main">

            <div class="col-md-3" >
                <div id="user_main_info" class="user">
                  <img id="user_photo" src="http://www.gravatar.com/avatar/4e258d4679ba777947ac73537effb1c3?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png"/>
                </div>

            </div>

            <div class="col-md-4" id="user_info_box">
              <h3>Про мене</h3>
                <ul>
                  <div class="input-group">
                    <span class="input-group-addon addon-org">Сфери:</span>
                    <div class="form-control about"><a>діти</a></div>
                    </div>
                  <div class="input-group">
                    <span class="input-group-addon addon-org">Місто:</span>
                    <div class="form-control about"><a>{{city}}</a></div>
                   </div>
                   <div class="input-group">
                    <span class="input-group-addon addon-org">Адреса:</span>
                    <div class="form-control about"><a>площа Соборна</a></div>
                   </div>

            </ul>
            </div>
            <div class="col-md-4" id="user_info_box_2">
              <h3>Контактна інформація</h3>
              <ul>
                <div class="input-group">
                    <span class="input-group-addon addon-org">Вебсайт:</span>
                    <div class="form-control about"><a href="https://www.google.com.ua">www.google.com.ua</a></div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon addon-org">e-mail:</span>
                <div class="form-control about" id="out_mail"><a href="https://mail.google.com">{{user.email}}</a></div>
             </div>
{#             <div class="input-group">#}
{#               <span class="input-group-addon addon-org">Знайдіть нас</span>#}
{#               <div class="form-control about">#}
{#               <img class="logo soc-logo" src="static/fb_logo.png"/>#}
{#               <img class="logo soc-logo" src="static/twit_logo.png"/>#}
{#               <img class="logo soc-logo" src="static/insta_logo.png"/>#}
{#             </div>#}
              </ul>

            </div>

    </div>
</div>

{% endblock %}
